node_modules

/.cache
/build
.env

build
dist
node_modules
lint.xml
reports/*
babelify-src
docs/_build
.DS_Store
.tern-port
TODO
soljson.js
*~
*_group*.*.ts
*_group*.ts
stats.json
release


# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
lerna-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
.vscode/settings.json
.vscode/launch.json

apps/remixdesktop/.webpack
apps/remixdesktop/out
apps/remixdesktop/release/
apps/remixdesktop/build*/
apps/remix-ide/src/assets/list.json
apps/remix-ide/src/assets/esbuild.wasm
apps/remixdesktop/build*
apps/remixdesktop/reports
apps/remixdesktop/logs/
logs

.DS_Store

/.env
/build/
/packages/*/dist/
/packages/*/LICENSE.md
node_modules/
yarn-error.log
tsconfig.tsbuildinfo

/jacob
/fixtures/cloudflare
/fixtures/test
/fixtures/my-remix-app
/fixtures/deno-app
/integration/playwright-report
/test-results
/uploads

.eslintcache
.tmp

/scripts/deployment-test/apps
/scripts/deployment-test/package-lock.json
/scripts/deployment-test/yarn.lock
/scripts/deployment-test/pnpm-lock.yaml

/.idea/
/playground
/scripts/playground/template.local
/scripts/playground/template/build
/scripts/playground/template/package-lock.json
/scripts/playground/template/yarn.lock
/scripts/playground/template/pnpm-lock.yaml

/NOTES.md
/RELEASENOTES.md